<div>
  <br>
<table cellpadding="2" cellspacing="0" width="790" border="0" >
    <tr class="tabletitle">
      <td *ngFor="let row of fieldsList;let i = index" nowrap  width="148" style="text-align: left"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"  [attr.id]="'col_' + row +'_s'"  class="tabletitle">{{row}}</a>
        <img width="10" src="assets/images/spacer.gif" id="img_stock_name" /></td>
       <!-- <td nowrap id="col_stock_name" width="148" style="text-align: left"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" id="col_stock_name_s" onclick="changeSort('stock_name');return false;" class="tabletitle">Name</a>
         <img width="10" src="assets/images/spacer.gif" id="img_stock_name" /></td>
       <td nowrap id="col_last_price" width="42"><a href="#" id="col_last_price_s" onclick="changeSort('last_price');return false;" class="tabletitle" >Last</a>
         <img width="10" src="assets/images/spacer.gif" id="img_last_price" /></td>
       <td nowrap id="col_time" width="64" style="text-align: center"><a href="#" id="col_time_s" onclick="changeSort('time');return false;" class="tabletitle">Time</a>
         <img width="10" src="assets/images/spacer.gif" id="img_time" /></td>
       <td nowrap id="col_arrow" width="24" style="text-align: center"><a href="#" id="col_arrow_s" onclick="changeSort('pct_change');return false;" class="tabletitle">+/-</a></td>
       <td nowrap id="col_pct_change" width="61"><a href="#" id="col_pct_change_s" onclick="changeSort('pct_change');return false;" class="tabletitle">Change</a>
         <img width="10" src="assets/images/spacer.gif" id="img_pct_change" /></td>
       <td nowrap id="col_bid_quantity" width="60"><a href="#" id="col_bid_quantity_s" onclick="changeSort('bid_quantity');return false;" class="tabletitle">Bid Size</a>
         <img width="10" src="assets/images/spacer.gif" id="img_bid_quantity" /></td>
       <td nowrap id="col_bid" width="50"><a href="#" id="col_bid_s" onclick="changeSort('bid');return false;" class="tabletitle">Bid</a>
         <img width="10" src="assets/images/spacer.gif" id="img_bid" /></td>
       <td nowrap id="col_ask" width="50"><a href="#" id="col_ask_s" onclick="changeSort('ask');return false;" class="tabletitle">Ask</a>
         <img width="10" src="assets/images/spacer.gif" id="img_ask" /></td>
       <td nowrap id="col_ask_quantity" width="60"><a href="#" id="col_ask_quantity_s" onclick="changeSort('ask_quantity');return false;" class="tabletitle">Ask Size</a>
         <img width="10" src="assets/images/spacer.gif" id="img_ask_quantity" /></td>
       <td nowrap id="col_min" width="50"><a href="#" id="col_min_s" onclick="changeSort('min');return false;" class="tabletitle">Min</a>
         <img width="10" src="assets/images/spacer.gif" id="img_min" /></td>
       <td nowrap id="col_max" width="50"><a href="#" id="col_max_s" onclick="changeSort('max');return false;" class="tabletitle">Max</a>
         <img width="10" src="assets/images/spacer.gif" id="img_max" /></td>
       <td nowrap id="col_ref_price" width="50"><a href="#" id="col_ref_price_s" onclick="changeSort('ref_price');return false;" class="tabletitle">Ref.</a>
         <img width="10" src="assets/images/spacer.gif" id="img_ref_price" /></td>
       <td nowrap id="col_open_price" width="50"><a href="#" id="col_open_price_s" onclick="changeSort('open_price');return false;" class="tabletitle">Open</a>
         <img width="10" src="assets/images/spacer.gif" id="img_open_price" /></td> -->
     </tr>
 
     <tr id="stocks"  data-source="lightstreamer" class="lscoldA" border="0" >
       <td nowrap style="text-align: left">
         <a href="#" data-source="lightstreamer" data-field="click" data-update="onclick">
           <img src="assets/images/popup.gif" width="16" height="16" border="0" align="left" hspace="1" alt="Graphic Chart">
           <div id="stockName" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000080; font-weight: bold; text-align: left;" data-source="lightstreamer" data-field="stock_name">Loading...</div>
         </a>
       </td>
       <td><div data-source="lightstreamer" data-field="last_price">-</div></td>
       <td><div data-source="lightstreamer" data-field="time">-</div></td>
       <td>
         <div>
           <img data-source="lightstreamer" data-field="arrow" data-update="src" src="assets/images/spacer.gif" width="20" height="8" border="0">
         </div>
       </td>
       <td nowrap="nowrap"><div data-source="lightstreamer" data-field="pct_change">-</div></td>
       <td><div data-source="lightstreamer" data-field="bid_quantity">-</div></td>
       <td><div data-source="lightstreamer" data-field="bid">-</div></td>
       <td><div data-source="lightstreamer" data-field="ask">-</div></td>
       <td><div data-source="lightstreamer" data-field="ask_quantity">-</div></td>
       <td><div data-source="lightstreamer" data-field="min">-</div></td>
       <td><div data-source="lightstreamer" data-field="max">-</div></td>
       <td><div data-source="lightstreamer" data-field="ref_price">-</div></td>
       <td><div data-source="lightstreamer" data-field="open_price">-</div></td>
     </tr>
 
     <!-- <tr>
       <td class="disc">Simulated market data.</td>
       <td colspan="12" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; background: #ffffff; font-weight: bold; text-align: right">
         <a href="#" id="switchP2" style="display:none" onClick="changePage(2); return false;"> Next 15 >> </a>
         <a href="#" id="switchP1" style="display:none" onClick="changePage(1); return false;"> << Previous 15 </a>
       </td>
     </tr> -->
   </table>
  </div>